body{
  font-family: 'Montserrat', sans-serif;
}

.aside{
  padding: 3em;
  width: 20%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background: papayawhip;
}

/* nav menu sidebar */
.mysidenav {
  text-align: right;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}
.mysidenav ul li a {
  padding: 6px 0px 16px 16px;
  text-align:right;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: #0D1F2D;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.mysidenav ul {
  text-align: right;
  margin: 0;
  padding: 0;
}
.mysidenav ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: 1px;
}
.mysidenav ul li a:hover {
  color: #FF5E5B;
  text-decoration: none;
}
.mysidenav ul li a:hover::after {
  visibility: visible;
}
.mysidenav ul li a::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: #0D1F2D;
  visibility: hidden;
}
.mysidenav ul li.nav-active a {
  color: #FF5E5B;
}
 .mysidenav ul li.nav-active a::after {
   visibility: visible;
   -webkit-transform: scaleX(1);
   -moz-transform: scaleX(1);
   -ms-transform: scaleX(1);
   -o-transform: scaleX(1);
   transform: scaleX(1);
 }
@media screen and (max-width: 1260px) {
 .mysidenav ul li a {
   font-size: 14px;
 }
}

/*logo for name*/
.logo{
  text-align: right;
  font-weight: 700;
  font-size: 22px;
  text-transform: lowercase;
  margin-bottom: 3em;
  display: block;
  width: 100%;
}
.logo a {
  display: inline-block;
  text-align: right;
  background-color: #FF5E5B;
  padding: .5em .8em;
  color: white;
  letter-spacing: 10px;
  padding-right: .3em;
  text-decoration: none;
}
.logo a span {
  display: block;
  margin-bottom: 5px;
  text-align: right;
}

.hidden{
  display: none;
}

.current{
  display:block;
}

@media screen and (max-width: 1260px) {
  .hidden {
    display:block;
  }

  .current{
    display:none;
  }
}



/*icons at bottom of nav menu*/
.icons{
  position: absolute;
  bottom: 40px;
  right: 1.5em;
  left: 1.5em;
  font-size: 14px;
  text-align: right;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  padding: 0 20px;
}
.icons span {
  display: block;
}
.icons ul {
  padding: 0;
  margin: 0;
}
.icons ul li {
  display: inline;
  list-style: none;
}
.icons ul li a {
  color: #0D1F2D;
  padding: 4px;
}
.icons a:hover, .icons a:active {
  text-decoration: none;
  outline: none;
  color: #FF5E5B;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1260px) {
  .icons{
    font-size: 10px;
  }
}

/* Style page content */
.mymain {
  margin-left: 20%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 468px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 720px) {
  .aside {
    display:none;
  }
  .mymain{
    margin-left:0%;
    padding: 5px 5px;
  }
  .carousel-indicators{
    display:none;
  }
  /*.mysidenav a {font-size: 16px;}
  .carousel-caption{width:200px;}*/
}

.col{
  padding: 0;
  margin: 0;
}
.row{
  padding: 0 0 5em 0;
  margin: 0;
}
.no-pad{
  padding: 0 0 0 0;
  margin: 0;
}
.bottom-pad{
  padding: 0 0 1em 0;
  margin: 0;
}

.carousel-control-next, .carousel-control-prev {
  width: 7%;
}
.carousel-caption{
  background-color: white;
  text-align:left;
  padding-left: 10px;
  width: 400px;
  margin: 10% 100% 5% 0%;
  color: #0D1F2D;
  right: 0;
  left: 5%;
}
.carousel-indicators{
    position:absolute;
    top:80%;
    margin:0 auto;
    height:75px;
    right:40px;
    left:auto;
    width:75px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:inline-block;
    margin-bottom:5px;
    border:3px solid white;
    border-radius: 100px;
    background-color: white;
}
.carousel-indicators .active{
  background-color: #FF5E5B;
  border:3px solid #FF5E5B;
}

.skill{
  text-align: left;
  width: 100%;
  float: left;
  margin-bottom: 40px;
  padding-top:10px;
  position: relative;
  background-color: lightgrey;
}
.skill .skill-pic{
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  height: 110px;
  display: table;
  text-align: center;
  background: pink;
}
.skill .skill-pic i{
  display: table-cell;
  vertical-align: middle;
  color: black;
  font-size: 40px;
  height: 110px;
}
.skill .skill-info{
  padding-left: 120px;
  width: 100%;
}

.work{
  text-align: left;
  width: 100%;
  float: left;
  margin-bottom: 40px;
  padding-top:0px;
  position: relative;
  background-color: lightblue;
}
.work .work-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 300px;
  display: table;
  text-align: center;
  background: lightblue;
}
.work .work-info{
  padding-left: 470px;
  width: 100%;
  z-index: 1;
}

.work .video-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 300px;
  display: table;
  text-align: center;
  background: lavender;
}
.work .text-right{
  padding-right: 470px;
  width: 100%;
}

.two{
  text-align: right;
  float:right;
}

.gallery{
  padding: .5em;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:1em;
  margin-bottom: 2em;
}

.thumb{
  background-size: cover;
  background-position:center center;
  padding-bottom: 56%;
  border-radius: 4px 4px 0 0;
}

.one{  background-image: url('color1.jpg');}
.three{  background-image: url('color2.jpg');}

.thumb:hover{
  opacity: 0.4;
  /*transform: scale(1.00);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2),
              -2px 0px 12px rgba(0,0,0,0.2);
              */
}

.modal-open .modal-body img{
  padding:0px;
  margin:0px;
  width:100%;
}

.modal-dialogue{
	width: 100%;
}


@media screen and (max-width: 600px) {
  .gallery{grid-template-columns: 1fr;}
}


::-webkit-selection {
  color: #fff;
  border-color:#FF5E5B;
  background-color:#FF5E5B;
}
::-moz-selection {
  color: #fff;
  border-color:#FF5E5B;
  background-color:#FF5E5B;
}
::selection {
  color: #fff;
  border-color:#FF5E5B;
  background-color:#FF5E5B;
}
